<!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">
                    <img src="{{ site.baseurl }}{{ site.logo.desktop }}" alt="{{ site.title }}" height="{{ site.logo.desktop_height }}" width="{{ site.logo.desktop_width }}" class="logo-desktop logo-mobile" style="margin-top: -15px; float: left;">            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#portfolio">Giải Pháp</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#services">Tính năng</a>
                    </li>                    
                    <li>
                        <a class="page-scroll" href="#about">Về chúng tôi</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#team">Đội ngũ</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Liên hệ</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-heading">Nhanh chóng lập kế hoạch tối ưu với nhiều điều kiện phức tạp</div>
                <div class="intro-subheading">Bạn cần một kế hoạch tối ưu với nhiều điều kiện phức tạp? Hoặc khó quyết định giữa nhiều lựa chọn khả thi? Chúng tôi cung cấp dịch vụ tư vấn, và phát triển giải pháp giúp bạn nhanh chóng ra quyết định hiệu quả</div>
                <a href="#portfolio" class="page-scroll btn btn-md btn-primary">Tìm hiểu thêm</a>
            </div>
        </div>
    </header>
<!--
        {% for page in site.pages %}
          {% if page.title %}<a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>{% endif %}
        {% endfor %}
 -->

