<section id="team" class="team-section bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Our Amazing Team</h2>
                <h3 class="section-subheading text-muted"></h3>
            </div>
        </div>
        <div class="row justify-content-center"> <!-- Center columns within this row -->
            {% for member in site.people %}
            <div class="col-sm-4 team-member">
                <img src="{{ member.photo }}" alt="{{ member.name }}">
                <h4>{{ member.name }}</h4>
                <p>{{ member.title }}</p>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
